* {
  font-family: Helvetica, sans-serif !important;
}
body {
  font-size: 16px;
  background: rgb(186, 174, 248);
  background-image: linear-gradient(
    to right,
    #B19AFE 0%,
    #A2F2F1 100%
  );
  min-height: 100vh;
  padding: 0px;
  margin: 0px;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 90%;
  height: 100vh;
}

@media only screen and (min-width: 890px) {
  #container {
    max-width: 32rem;
  }
}

#form {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: azure;
  padding: 2.5rem;
  border-radius: 10px;
  height: 350px;
}

#form-wrapper {
  width: 100%;
}

.header {
  font-weight: lighter;
  margin-top: 0;
}

#login-subheader {
  color: #848694;
}

#input-wrapper {
  margin-top: 50px;
}

.form-input {
  display: block;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #bdc4ff;
  margin: 2rem 0;
  padding-bottom: 5px;
}

#submit {
  align-self: flex-end;
  flex-direction: column;
  align-content: baseline;
  align-items: center;
}

#login-btn {
  background-color: #54bdd6;
  color: white;
  height: 30px;
  border: 0;
  width: 10rem;
  border-radius: 30px;
  margin: 20px 0px;
  font-size: 16px;
  cursor: pointer;
}

#login-btn:hover {
  background-color: #727fe1;
}

input:focus, button:focus {
  outline: none;
}

#register-link {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #727fe1;
}

.form-input:focus {
  border-bottom-color: #727fe1;
}
