#red {
  margin-top: 300px;
  margin-left: 400px;
  position: absolute;
  z-index: 2;
}

#silver {
  position: absolute;
  margin-top: 350px;
  margin-left: 450px;
}

#green {
  margin-top: 100px;
  position: fixed;
}

#blue {
  /*We can set `position: static;` here, but it is redundant because this is the default*/
}

#yellow {
  position: relative;
  left: 275px;
  top: 125px;
}
